<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd">
       
       <bean id="person" class="com.person.Person">
       <property name="person_id" value="1" ></property>
       <property name="person_name" value="RAVI" ></property>
       <property name="person_mobile" value="987654233" ></property>
       
        </bean>
       
        <bean id="phone" class="com.phone.Phone">
       <property name="phoneModelno" value="23" ></property>
       <property name="phoneName" value="Samsung" ></property>
       <property name="phoneStorage" value="512" ></property>
       <property name="person"  ref="person"></property>
       </bean>
       
       <bean id="Employee" class="com.employee.Employee">
       <constructor-arg index ="0" value="101"></constructor-arg>
       <constructor-arg index ="1" value="IT"></constructor-arg>
       </bean>
       
       <bean id="Department" class="com.department.Department">
       <constructor-arg index ="0" value="10"></constructor-arg>
       <constructor-arg index ="1" value="IT"></constructor-arg>
       <constructor-arg index ="2" ref="Employee"></constructor-arg>
       </bean>
       
       <bean id="student" class="com.student.Student">
       <property name="stuid" value="1"></property>
       <property name="stuName" value="Ravi"></property>       
       </bean>
       
        <bean id="course" class="com.courses.Courses">
       <property name="courseId" value="1"></property>
       <property name="courseName" value="java"></property>       
       </bean>
       
       <bean id="added" class="com.added.Class_Result">
       <property name="list">
       <list>
       <ref bean="student"></ref>
       <ref bean="course"></ref>
      
       </list>
       </property>
       </bean>
       
       </beans>